<!-- Location --------------------------------------------------------------------------->
<div class="maps">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15664.352444935015!2d77.0186052!3d11.0320159!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba857b6b981daf3%3A0x832d52bc7bec1221!2sLTIMindtree%20Limited!5e0!3m2!1sen!2sin!4v1697685688828!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>
</div>

<br>
<br>
<!-- FORM ----------------------------------------------------------------------------------- -->
<div class="m-1">
    <h1>Contact Us</h1>
    <div class="fs-6 fw-light mb-2">Post your message below. We will get back to you ASAP</div>
    <form id="contact_form" name="contact_form" method="post">
        <div class="mb-5">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" name="message" rows="5"></textarea>
        </div>
        <div class="mb-5 row">
            <div class="col">
                <label>Your Name:</label>
                <input type="text" required maxlength="50" class="form-control" id="name" name="name">
            </div>
            <div class="col">
                <label for="email_addr">Your Email:</label>
                <input type="email" required maxlength="50" class="form-control" id="email_addr" name="email"
                    placeholder="name@example.com">
            </div>
        </div>
        <div class="d-grid">
        <button type="submit" class="btn btn-success">Post</button>
        </div>
    </form>
    </div>