<!-- NAV ----------------------------------------------------------------------------------------------------- -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="courses" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Courses
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Python</a></li>
              <li><a class="dropdown-item" href="#">Java</a></li>
              <li><a class="dropdown-item" href="#">.NET</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="registration">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- ---------------------------------------------------COROSSEL ------------------------------------>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/col1.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./assets/col2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./assets/col3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    
  
